.dryden-image-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow wrapping of flex items */
    justify-content: center; /* Center the images horizontally */
}

.dryden-image {
    width: 400px; /* Set a fixed width for each image */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Add margin for spacing between images */
}